.forgot-password {
    height: 100%;
    &--title {
        margin-bottom: 5px;
    }
    &__form {
        padding: 15px;
    }
    &--content {
        width: 400px;
    }
    &--success {
        padding: 15px 0;
    }
}