<div class="forgot-password flex flex--box flex__justify-content--center flex__align-items--center">
  <mat-card class="forgot-password--content">
    <button [routerLink]="['/auth']" mat-button>
      <mat-icon>arrow_back</mat-icon>
      <span>Back</span>
    </button>

    <div class="text--center forgot-password--success" *ngIf="success; else forgotForm">
      <span class="font__weight--bold">Email with reset password link successfully sent.</span>
    </div>

    <ng-template #forgotForm>
      <form class="forgot-password__form flex flex--column">
        <span class="forgot-password--title text--upper_case text--center">Forgot password?</span>
        <span class="text--center text__color--dark-500">You can reset password here.</span>

        <mat-form-field>
          <input [formControl]="email" type="email" matInput placeholder="Email">
        </mat-form-field>

        <button (click)="forgot()" class="login__form--button text--upper_case" mat-raised-button color="primary">Reset
          password</button>
      </form>
    </ng-template>
  </mat-card>
</div>
