<div class="mat-elevation-z8">

  <mat-tab-group [selectedIndex]="selectedTab" mat-align-tabs="start">
    <mat-tab>
      <ng-template mat-tab-label>
        <span class="tabs--title">All Companies</span>
        <span class="counts">{{counts.active}}</span>
      </ng-template>
      <app-company-list [status]="'active'" (changeCount)="changeCount($event,'active')"></app-company-list>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <span class="tabs--title">Requested</span>
        <span class="counts">{{counts.requested}}</span>
      </ng-template>
      <app-company-list [status]="'requested'" (changeCount)="changeCount($event,'requested')"></app-company-list>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <span class="tabs--title">Invitations</span>
        <span class="counts">{{counts.invitations}}</span>
      </ng-template>
      <app-invite-list [newInvite]="newInvite" (changeCount)="changeCount($event,'invitations')"></app-invite-list>
    </mat-tab>
  </mat-tab-group>

  <button mat-button class="tabs__button" (click)="addCompany()">
    <mat-icon textSize="22" textColor="white">group_add</mat-icon>
  </button>
</div>
