.mat-column-expire,
.mat-column-createdAt {
  width: 11% !important;
}

.mat-column-status {
  width: 19% !important;
}

.mat-column-name,
.mat-column-email {
  width: 26% !important;
}

.mat-column-select {
  width: 7% !important;
}
