$galeria: #eeeeee;
$dark: #212121;
$dark-500: #9e9e9e;
$primary-500: #009688;
$dodger-blue: #438afe;
$brown-grey: #7c7c7c;
$brownish-grey: #777777;
$black-two: #111111;
$black-three: #333333;
$very-light-pink: #e6e6e6;
$pale-blue: #d3e4ff;
$brown-grey-two: #aaaaaa;
$red:#f44336;
$emperor:#545454;
$white: #ffffff;
$black-8: rgba(0, 0, 0, 0.08);
$black-40: rgba(0, 0, 0, 0.4);
$black-87: rgba(0, 0, 0, 0.87);
$alto: #DCDBDB;
$polar:#ebfafa;