.mat-column-createdAt,
.mat-column-expire,
.mat-column-role,
.mat-column-status {
  width: 11% !important;
}

.mat-column-name,
.mat-column-email {
  width: 25% !important;
}

.mat-column-select {
  width: 6% !important;
}
