@import 'src/styles/colors.scss';


.mat-toolbar-row,
.mat-toolbar-single-row {
  height: 56px;
  padding: 0;

  app-header {
    width: 100%;
  }
}

.container {
  height: calc(100vh - 56px);

  &__content {
    padding: 20px;
  }
}

.mat-drawer.mat-sidenav {
  border: 0;
  box-shadow: 0 0 30px 0 $black-8;
}
