.login {
  padding: 25px 50px;

  &__logo {
    margin-bottom: 25px;

    img {
      width       : 150px;
      height      : 100px;
      margin-right: 10px;
      object-fit  : cover;
    }

  }

  &--title {
    margin-bottom: 5px;
  }

  &--subtitle {
    margin-bottom: 15px;
  }

  &__form {
    &--checkbox {
      margin-bottom: 20px;
    }

    &--button {
      width        : 141px;
      align-self   : flex-end;
      margin-bottom: 10px;
    }
  }
}