.auth {
  min-height: calc(100% - 40px);
  margin: 20px 0;

  &__form {
    width: 400px;
  }

  &--header {
    mat-tab-header {
      display: none;
    }
  }

  .mat-card {
    padding: 0px;
  }
}
