<div class="flex flex__align-items--center flex--column">
  <h3 textWeight="bold" textColor="black-two">Select driver</h3>

  <div class="flex flex--box drivers">
    <ng-select [items]="drivers" bindLabel="full_name" placeholder="Select driver" [virtualScroll]="true"
      (scrollToEnd)="getList()" [(ngModel)]="selectedDriver">
    </ng-select>
  </div>

  <div md-dialog-actions class="actions flex">
    <button class="actions--button flex--box drivers--button" mat-raised-button color="warn"
      (click)="dialogRef.close()">Cancel</button>
    <button class="actions--button flex--box" mat-raised-button color="primary" (click)="selected()">Join</button>
  </div>
</div>
