<div class="reset-password flex flex--box flex__justify-content--center flex__align-items--center">
  <mat-card class="reset-password--content">
    <form [formGroup]="data" class="reset-password__form flex flex--column">
      <span class="reset-password--title text--upper_case text--center">Set new password</span>
      <span class="reset-password--description text--center text__color--dark-500">Use the form bellow to change your
        password.
      </span>

      <mat-form-field>
        <input formControlName="password" type="password" matInput placeholder="New Password">
      </mat-form-field>

      <mat-form-field>
        <input [errorStateMatcher]="matcher" formControlName="confirmPassword" type="password" matInput
          placeholder="Confirm Password">
      </mat-form-field>

      <button [disabled]="!data.valid" (click)="submit()" class="login__form--button text--upper_case"
        mat-raised-button color="primary">Submit</button>

      <div class="reset-password__form--description flex flex--row flex__align-items--center">
        <mat-icon class="reset-password__form--icon">error_outline</mat-icon>
        <span class="font__size--12">{{infoMessage}}</span>
      </div>

    </form>
  </mat-card>
</div>
