.reset-password {
    height: 100%;
    &--title {
        margin-bottom: 5px;
    }

    &--description {
        margin-bottom: 5px;
    }

    &__form {
        padding: 15px;

        &--description {
            margin-top: 20px;
        }

        &--icon {
            margin-right: 5px;
        }
    }
    &--content {
        width: 400px;
    }
}